:root 
  font-size: 16px
  line-height: 1.5rem
  font-family: "Montserrat"
  --themeColor: hsl(0deg, 100%, 25%)
  --themeColor50: hsla(0deg, 100%, 25%, 0.5)
  --themeColor75: hsla(0deg, 100%, 25%, 0.25)
  --themeColorLight: hsl(0deg, 100%, 37.5%)
  
body 
  background-color: black
  color: $grey75
  &.noscroll
    overflow: hidden

::-webkit-scrollbar
  width: 1rem
  &-track
    background: black
  &-thumb
    background: $grey50
    transition: all 250ms ease-out
    &:hover
      background: var(--themeColor)
    &:active
      background: var(--themeColorLight)